@page "/detailsach"
          
                <button class="btn-box1">Quản lí sách</button>          
<NavLink class="nav-link" href="detailsach">          
                <button class="btn-box2">Chi tiết sách</button>
            </NavLink>

            <div class="section-detailsach">
                <div class="left-detail">
                    <div class="sec-span">
                        <span>Tên sách</span>
                    </div>
                    <div class="sec-input">
                        <input type="text"/>
                    </div>
                </div>
                <div class="right-detail">
                    <div class="sec-span">
                        <span>Mã sách</span>
                    </div>
                    <div class="sec-input">
                        <input type="text"/>
                    </div>
                </div>
            </div>

    <div class="section-table table-responsive">
    <table class="table">
       <thead>
        <tr>
            <th>Thông tin sách</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mã sách</td>
        </tr>
        <tr>
            <td>Tác giả</td>
        </tr>
        <tr>
            <td>Số lượng</td>
        </tr>
        <tr>
            <td>Nhà xuất bản</td>
        </tr>
        <tr>
            <td>Thể loại</td>
        </tr>
        <tr>
            <td>Tổng số bản in</td>
        </tr>
        <tr>
            <td>Số bản có sẵn</td>
        </tr>
        <tr>
            <td>Số lượt đặt mua</td>
        </tr>
        <tr>
            <td>Mô tả</td>
        </tr>
    </tbody>
    </table>  
    </div>

@code {

}
