@page "/login"


@inherits LayoutComponentBase

<div class="container login">
    <h2>Login</h2>
    <div class="form-group">
        <label for="username">Chức vụ :</label>
        <select class="selc">
            <option>Quản lí</option>
            <option>Khách hàng</option>
        </select>
    </div>
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" />
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password"/>
    </div>
    <button class="btn btn-primary">Đăng nhập</button>
    <button class="btn btn-primary">Thoát</button>
</div>


   

