@page "/ShowDocGia"

<button class="btn-box1">Quản lí độc giả</button>
<NavLink class="nav-link" href="index">             
                <button class="btn-box2">Xem thông tin tác giả</button>
            </NavLink>
<div id="DocGia-form">
    <div class="container">
        <input type="text" placeholder="Tìm kiếm" class="search"/>
    </div>


    <div class="section-table table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Mã tài khoản</th>
                <th>Tên tài khoản</th>
                <th>Ngày sinh</th>
                <th>Giới tính</th>
                <th>Email</th>
                <th>Số điện thoại</th>
            </tr>
        </thead>
    </table>  

</div>
</div>
@code {

}
