@page "/trang"

        
   <button class="btn-box1">Quản lí mượn trả</button>      
<NavLink class="nav-link" href="detailsach">          
                <button class="btn-box2">Xem trạng thái</button>
            </NavLink>
<div id="Trangthai-form">
    <div class="container">
        <input type="text" placeholder="Tìm kiếm" class="search"/>
    </div>


    <div class="section-table table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Tên độc giả</th>
                <th>Tên sách</th>
                <th>Ngày mượn</th>
                <th>Ngày hẹn trả</th>
                <th>Ngày trả</th>
                <th>Số lượng mượn</th>
            </tr>
        </thead>
    </table>  

</div>
</div>
@code {

}
